<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        <link href="{{ asset('/css/app.a3b11ec9.css') }}" rel="preload" as="style">
        <link href="{{ asset('/js/app.666dd452.js') }}" rel="preload" as="script">
        <link href="{{ asset('/js/chunk-vendors.b4fa5226.js') }}" rel="preload" as="script">
        <link href="{{ asset('/css/app.a3b11ec9.css') }}" rel="stylesheet">
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}

            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <script src="{{ asset('/js/chunk-vendors.b4fa5226.js') }}"></script>
        <script src="{{ asset('/js/app.666dd452.js') }}"></script>
    </body>
</html>
